@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	height: 100vh;
	display:flex; justify-content:center; align-items: center; flex-wrap: wrap;
	background-image: radial-gradient( #fff, #999 );
	perspective: 1000px;
}

.scene {
	width: 1200px; height:900px;
	transform-style: preserve-3d;
	user-select: none;
}

.face { position:absolute; }

.toy {
	transform-style: preserve-3d;
	position:absolute;
}

.main { width:1200px; height:900px; transform: translate3d( 0px, 0px, -700px ); }
.main .tfront  { transform: rotateY( 0deg )   translate3d( 0px, 0px, 445px ); }
.main .bfront  { transform: rotateY( 0deg )   translate3d( 0px, 750px, 445px ); }
.main .lfront  { transform: rotateY( 0deg )   translate3d( 0px, 0px, 444px ); }
.main .rfront  { transform: rotateY( 0deg )   translate3d( 1000px, 0px, 444px ); }
.main .back  { transform: rotateY( 0deg )   translate3d( 0px, 0px, 145px ); }
.main .left  { transform: rotateY( 90deg )   translate3d( -295px, 0px, -150px ); }
.main .right  { transform: rotateY( 90deg )   translate3d( -295px, 0px, 1050px ); }
.main .top  { transform: rotateX( 90deg )   translate3d( 0px, 295px, 150px ); }
.main .bottom  { transform: rotateX( -90deg )   translate3d( 0px, -295px, 750px ); }

.sub { width:800px; height:600px; transform: translate3d( 0px, 0px, -400px );}
.sub .back  { transform: rotateY( 0deg )   translate3d( 200px, 150px, -600px ); }
.sub .left  { transform: rotateY( 90deg )   translate3d( 250px, 150px, -149px ); }
.sub .right  { transform: rotateY( 90deg )   translate3d( 250px, 150px, 649px ); }
.sub .top  { transform: rotateX( 90deg )   translate3d( 200px, -250px, 199px ); }
.sub .bottom  { transform: rotateX( -90deg )   translate3d( 200px, 250px, 399px ); }

.button{transform: translate3d( 350px, 775px, -250px );}

.J1  { transform: translate3d( 0px, 0px, 15px ); }
.J2  { transform: translate3d( 0px, 0px, 10px ); }
.J3  { transform: translate3d( 0px, 0px, 5px ); }
.J4  { transform: translate3d( 0px, 0px, 0px ); }
.S1  { transform: translate3d( 400px, 0px, 15px ); }
.S2  { transform: translate3d( 400px, 0px, 10px ); }
.S3  { transform: translate3d( 400px, 0px, 5px ); }
.S4  { transform: translate3d( 400px, 0px, 0px ); }
.X1  { transform: translate3d( 200px, 0px, 15px ); }
.X2  { transform: translate3d( 200px, 0px, 10px ); }
.X3  { transform: translate3d( 200px, 0px, 5px ); }
.X4  { transform: translate3d( 200px, 0px, 0px ); }


.snowman {
	width: 200px; height:400px;
	transform-style: preserve-3d;
	user-select: none;
	transform: translate3d( 500px, 460px, -635px ) rotateZ(0deg);
	transition: transform 1s ease;
}

.snow {
	transform-style: preserve-3d;
	position:absolute;
}

.head { width:130px; height:100px; transform: translate3d(35px, -90px, 0px)}
.head .tfront  { transform: rotateX( 20deg )   translate3d( 0px, 16px, 50px ); }
.head .tback  { transform: rotateX( -20deg )   translate3d( 0px, 16px, -50px ); }
.head .tleft  { transform: rotateY( 90deg )rotateX( -20deg )   translate3d( 0px, 16px, -49px ); }
.head .tright  { transform: rotateY( 90deg )rotateX( 20deg )   translate3d( 0px, 16px, 49px ); }
.head .bfront  { transform: rotateX( -30deg )   translate3d( 0px, 28px, 85px ); }
.head .bback  { transform: rotateX( 30deg )   translate3d( 0px, 28px, -85px ); }
.head .bleft  { transform: rotateY( 90deg )rotateX( 30deg )   translate3d( 0px, 28px, -85px ); }
.head .bright  { transform: rotateY( 90deg )rotateX( -30deg )   translate3d( 0px, 28px, 85px ); }
.head .top  { transform: rotateX( 90deg )   translate3d( 24px, 0px, 40px ); }
.head .bottom  { transform: rotateX( -90deg )   translate3d( 15px, 0px, 40px ); }

.body { width:200px; height:300px; }
.body .tfront  { transform: rotateX( 14deg )   translate3d( 0px, 14px, 71px ); }
.body .tback  { transform: rotateX( -14deg )   translate3d( 0px, 14px, -71px ); }
.body .tleft  { transform: rotateY( 90deg )rotateX( -14deg )   translate3d( 0px, 14px, -72px ); }
.body .tright  { transform: rotateY( 90deg )rotateX( 14deg )   translate3d( 0px, 14px, 72px ); }
.body .bfront  { transform: rotateX( -15deg )   translate3d( 0px, 162px, 130px ); }
.body .bback  { transform: rotateX( 15deg )   translate3d( 0px, 162px, -130px ); }
.body .bleft  { transform: rotateY( 90deg )rotateX( 15deg )   translate3d( 0px, 161px, -131px ); }
.body .bright  { transform: rotateY( 90deg )rotateX( -15deg )   translate3d( 0px, 161px, 132px ); }
.body .top  { transform: rotateX( 90deg )   translate3d( 50px, 0px, 48px ); }
.body .bottom  { transform: rotateX( -90deg )   translate3d( 26px, 0px, 212px ); }
.body .lhand {
	transform: rotateY( 180deg )rotateZ( -20deg )   translate3d( 10px, 25px, 0px ); 
	animation: 1s left-swing-arm ease-in-out infinite alternate;
	transform-origin: 10% 0% 0px;
}
.body .rhand {
	transform: rotateY( 0deg )rotateZ( -20deg )   translate3d( 130px, 65px, 0px ); 
	animation: 1s right-swing-arm ease-in-out infinite alternate;
	transform-origin: 10% 0% 0px;
}

@keyframes left-swing-arm{
	0% { transform: translate3d( 40px, 25px, 0px ) rotateY( 180deg )rotateZ( -10deg ); }
	100% { transform: translate3d( 40px, 25px, 0px ) rotateY( 180deg )rotateZ( -30deg ); }
}

@keyframes right-swing-arm{
	0% { transform: translate3d( 150px, 25px, 0px ) rotateY( 0deg )rotateZ( -30deg ); }
	100% { transform: translate3d( 150px, 25px, 0px ) rotateY( 0deg )rotateZ( -10deg ); }
}

@keyframes jump{
	0% {transform: translate3d(500px, 460px, -635px);}
	50% {transform: translate3d(500px, 240px, -635px);}
	100% {transform: translate3d(500px, 460px, -635px);}
}

@keyframes spin{
	0% {transform: translate3d(350px, 460px, -635px) rotateZ(0deg);}
	25% {transform: translate3d(500px, 160px, -635px) rotateZ(180deg);}
	50% {transform: translate3d(650px, 460px, -635px) rotateZ(360deg);}
	62% {transform: translate3d(425px, 150px, -635px) rotateZ(180deg);}
	75% {transform: translate3d(500px, 240px, -635px) rotateZ(0deg);}
	87% {transform: translate3d(575px, 150px, -635px) rotateZ(-180deg);}
	100% {transform: translate3d(350px, 460px, -635px) rotateZ(-360deg);}
}

@keyframes xmas{
	0% {transform: translate3d(500px, 460px, -635px) rotateY(0deg);}
	25% {transform: translate3d(500px, 240px, -635px) rotateY(360deg);}
	50% {transform: translate3d(500px, 460px, -635px) rotateY(720deg);}
	75% {transform: translate3d(500px, 240px, -635px) rotateY(1080deg);}
	100% {transform: translate3d(500px, 460px, -635px) rotateY(1440deg);}
}